@import 'main';

body {
  background-color: transparent;
}

.template {
  &-wrapper {}
  &-main {
    height: calc(100% - 40px);
    padding: $space;
  }
}

.panel-box {
  padding: $space;
}

.chart-box {
  height: 100%;
}